<div class="container new-contents-wrapper">
  <% if @reservation.menu_id == 1 %>
    <h2>予約情報を確認後、予約を完了してください</h2>
  <% else %>
    <h2>予約情報を確認後、カードによるお支払いをしてください</h2>
    <h2>お支払い後、予約完了いたします</h2>
  <% end %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p class="property">名前:</p><p><%= @reservation.user_name %></p></li>
    <li class="list-group-item"><p class="property">日時:</p><p><%= @reservation.reservation_date.strftime("%m月%d日(#{%w(日 月 火 水 木 金 土)[@reservation.reservation_date.wday]}) %H:%M") %></p></li>
    <li class="list-group-item"><p class="property">コース名:</p><p><%= @menu.name %></p></li>
    <li class="list-group-item"><p class="property">人数:</p><p><%= @reservation.count %>名</p></li>
    <li class="list-group-item"><p class="property">金額:</p><p><%= @amount %>円</p></li>
    <li class="list-group-item"><p class="property">ご要望:</p><p id="request"><%= @reservation.request %></p></li>
    <li class="list-group-item"></li>
  </ul>
</div>

<div class="buttons">
  <%= form_tag reservations_path, method: :get, id:"payForm" do %>
    <%= hidden_field_tag 'user_name', @reservation.user_name %>
    <%= hidden_field_tag 'menu_id', @reservation.menu_id %>
    <%= hidden_field_tag 'count', @reservation.count %>
    <%= hidden_field_tag 'reservation_date', @reservation.reservation_date %>
    <%= hidden_field_tag 'request', @reservation.request %>
    <div class="btn-pay">
      <button type="submit" class="btn btn-secondary">入力画面に戻る</button>
    </div>
  <% end %>

  <% if @reservation.menu_id == 1 %>
    <%= render "only-sheets.html.erb" %>
  <% else %>
    <%= render "pay-form.html.erb" %>
  <% end %>
</div>